<h1>Orders#show</h1>


<h1><%= @order.total %></h1>
<h1><%= @order.quantity %></h1>
<h1><%= @order.shipping_id %></h1>
<%= @orderDetailsList.length %>
<% @orderDetailsList.each do |orderD| %>
 <ul>
    <li><%= link_to orderD.product.name, product_path(orderD.product) %></li>
    <li><%= link_to orderD.product.image, product_path(orderD.product) %></li> 
     <li><%= orderD.price  %></li>
      <li><%= orderD.amount  %></li>
     
  </ul>

<% end %>

