<div class="container">
    <h1 class="text-center">Admin Dashboard</h1>

    <!-- <ul class="list-group"> -->
    <h2>Store Summary</h2>
    <!-- <li class="list-group-item">All Orders: <%= @orders.length %> <span class="float-right">Edit</span></li>
                        <li class="list-group-item">All Categories <%= @categories.length %> <span class="float-right">Edit</span></li>
                        <li class="list-group-item">All Products <%= @products.length %> <span class="float-right">Edit</span> </li>
                        <li class="list-group-item">All Users <%= @users.length %> <span class="float-right">Edit</span> </li>
                      </ul> -->
    <div class="row">
        <div class="card col-md-3 text-center">
            <div class="card-body">
                <h5>Orders: <%= @orders.length %></h5><%= link_to  "( Manage )", orders_path, class: 'card-link' %>
                 
                
            </div>
        </div>
        <div class="card col-md-3 text-center">
            <div class="card-body">
                <h5>Categories: <%= @categories.length %></h5>  <%= link_to  "( Manage )", categories_path, class: 'card-link' %>
            </div>
        </div>
        <div class="card col-md-3 text-center">
            <div class="card-body">
                <h5>Products: <%= @products.length %></h5>  <%= link_to  "( Manage )", products_path, class: 'card-link' %>
            </div>
        </div>
        <div class="card col-md-3 text-center">
            <div class="card-body">
                <h5>Users: <%= @users.length %></h5> <%= link_to  "( Manage )", root_path, class: 'card-link' %>
            </div>
        </div>
    </div>


    <h2>All Admins</h2>
    <ul>
    <% @users.each do |user| %>
    <% if user.admin %>
        <li>
        <%= user.first_name %>
        </li>
    <% end %>
    <% end %>
</ul>

</div>