<div class="container">
<div  class="product_info"  >

<img src="<%=@product.image%>" alt="" class= "float-left w-50 p-1" >
<div class= "float-left w-25 p-1">
<h3 > <%= @product.name %><br> </h3>
<p> <%= @product.description %><br> </p>
<h4>From : <%= @product.farm %><br> </h4>
<h4> Avilability :  <%= @avilability %><br> </h4>
<h4> Category: <%= @product.category.name %><br> </h4>
<h4> <%= @product.quantity %><br> </h4>

 

 <%= form_for @cart_item, url: "#{@product.id}/addCart/"  do |f| %>
      <%= f.hidden_field :product_id, value: @product.id %>
    <%= f.hidden_field :cart_id, value: 3 %>
      <%= f.number_field :amount  , class:"input-text qty text" ,value: 1  , min: 1 ,  step: 1 %>
      <%= f.submit  %>
   <% end %>

<h4> Price: <%= @product.price %> RS<br> </h4>

<p><%= link_to 'Edit', edit_product_path %> 
<%= link_to 'Delete', product_path(@product), method: :delete %>
</p>
<p>


</div>
</div>

