<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Greens</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">


   <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <!-- cart link  -->
    <!--  link_to "#{current_order.order_items.size} Items in Cart ( #{number_to_currency current_order.subtotal} )", cart_path, class: "btn btn-link" %> -->
    <!-- nav bar  -->
    <nav class="navbar navbar-expand navbar-dark bg-success">
        <%= link_to  "  GREENS", root_path, class:"navbar-brand fas fa-apple-alt fa-lg text-white" %>
        
        <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button> -->
      
        <div class="collapse navbar-collapse" id="navbarsExample04">
          <ul class=" navbar-nav  ml-auto">
            <!-- <li class="nav-item active">
                <%= link_to  "Home", root_path, class: "nav-link" %>
            </li> -->
            <% if current_user %>
            <li class="nav-item active">
                <%= link_to  "Cart", carts_index_path,  class: "nav-link" %>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Hello <%= current_user.first_name %></a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                    <%= link_to  "My Profile", profile_path, class: "dropdown-item" %>
                    <%= link_to  "My Orders", orders_path, class: "dropdown-item" %>
                    <% if current_user && current_user.admin? %>
                      <%= link_to  "Admin Page", admin_path, class: "dropdown-item" %>
                    <% end %>
                    <%= link_to  "Sing out", destroy_user_session_path, method: :delete,  class: "dropdown-item" %>
                </div>
              </li>
            <% else %>
            <li class="nav-item active">
                <%= link_to  "Sign up", new_user_registration_path,  class: "nav-link" %>
            
            <li class="nav-item active">
                <%= link_to  "Sign in", new_user_session_path,  class: "nav-link" %>
            </li>
            <% end %>




          </ul>

        </div>
      </nav>
      <!-- end of nav bar -->
    <div class="">
        <%= yield %>
    </div>

    <%= render  "layouts/alerts" %>


    <footer class="footer bg-success">
        <div class="container">
          <span class="text-white text-center">All rights reserved to Undefined!</span>
        </div>
      </footer>
    
  </body>
</html>
